[user]
	email = me@dylanjpierce.com
	name = Dylan Pierce
[url "https://"]
	insteadOf = git://
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/dylanpierce/.netlify/helper/git-config
